.containerN {
    margin-top: 150px;
    margin-left: 70px;
    display: flex;
}

.main {
    width: 50%;
    margin-right: 100px;
    height: 150px;
    order: 1;
}

.terkini {
    display: flex;
    width: 30%;
    height: 150px;
    margin-left: 60px;
    order: 2;
}


.main img {
    width: 750px;
    height: 450px;
}

h5 {
    position: absolute;
    top: 155px;
    margin-left: 20px;
}

h1 {
    color: #0B5E91;
}

h1, p {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    color: white;
    background-color: #0B5E91;
}

.garis {
    width: 7.28px;
    height: 37.64px;
    margin-right: 20px;
    background: #0B5E91;
}

.latest {
    display: flex;
    width: 350px;
    flex-direction: column;
}

.latest img {
    width: 100px;
    height: 50px;
}

.latest a {
    font-family: Arial, Helvetica, sans-serif;
    color: #0B5E91  ;
    text-decoration: none;
}